<!DOCTYPE html>
<html>
  <head>
    <title>Add Contact</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  </head>
  <body>
		<div class="container">
			<div class="jumbotron">
				<h1>Your Contacts</h1>
				<p>Create a new contact here.</p>
			</div>
			<form action="/" method="post">
					<label for="name">Name: </label>
					<input class="form-control" type="text" name="name"><br>
					<label for="phone">Phone Number: </label>
					<input class="form-control" type="number" name="phone"><br>
					<label for="email">Email Address: </label>
					<input class="form-control" type="text" name="email" placeholder="example@me.com"><br>
					<label for="street">Street Address: </label>
					<input class="form-control" type="text" name="street" placeholder="e.g. 123 Main St."><br>
					<label for="city">City: </label>
					<input class="form-control" type="text" name="city" placeholder="e.g. Minneapolis"><br>
					<label for="state">State: </label>
					<input class="form-control" type="text" name="state" placeholder="e.g. MN"><br>
					<label for="zip">Zip Code: </label>
					<input class="form-control" type="number" name="zip" placeholder="e.g. 55408"><br>
					<button class="btn button-success" type="submit">Add Contact</button>
			</form>
		</div>
  </body>
</html>
