<!DOCTYPE html>
<html>
  <head>
    <title>Address Book!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
		<div class="container">
	    <h1>Address Book</h1>
			<h4>Your Contacts:</h4>
			<form action="/add-contact">
					<button type="submit" class="btn btn-success">Add New Contact</button>
			</form>
			<ul>
				@foreach(var item in Model)
				{
					<li>Name: @item.GetName() | Phone: @item.GetPhone() | Email: @item.GetEmail() </li>
				}
			</ul>
			<form action="/clear-contacts" method="post">
					<button type="submit" class="btn btn-danger">Delete Contacts</button>
			</form>
		</div>
  </body>
</html>
